{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section certifications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% if certifications.intro %}
  <div class="intro">
    {{ certifications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for certificate in certifications.certificates %}
  <div class="item">
    {% if certificate.cert %}
        <img class="cert" src="{{ site.baseurl }}/assets/images/{{ certificate.cert }}" alt="Certificate Image" />
    {% else %}
      <li>{{ certificate.title }}</li>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
